
@model List<StudentEdit>
<link href="~/css/HomeIndex.css" rel="stylesheet" />
<section class="intro p-5 mt-5">
  <div class="bg-image " >
    <div class="mask d-flex align-items-center">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-12">
            <div class="card shadow-2-strong">
              <div class="card-body p-0">
                <div class="table-responsive table-scroll" data-mdb-perfect-scrollbar="true" style="position: relative;">
                  <table class="table  table-dark mb-0">
                    <thead style="background-color: #393939;">
                      <tr class="text-uppercase text-success">
                        <th class="tablename" scope="col">Id</th>
                        <th class="tablename" scope="col">Name</th>
                        <th class="tablename" scope="col">Email</th>
                        <th class="tablename" scope="col">Password</th>
                        <th class="tablename" scope="col">Phone</th>
                        <th class="tablename" scope="col">Status</th>
                        <th class="tablename" scope="col">Role</th>
                      </tr>
                    </thead>
                    <tbody>
                    @{
                        foreach(var std in Model)
                        {
                            <tr>
                                <td> <a class="link" asp-action="Detail" asp-route-id="@std.Id">@std.Id</a></td>
                                <td>@std.Name</td>
                                <td>@std.Email</td>
                                <td>@std.Password</td>
                                <td>@std.Phone</td>
                                <td>@std.Status</td>
                                <td>@std.UserRole</td>
                          </tr>                      
                        }
                    }
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
